<div class="menu-burger">

  <div class="left-menu" [ngClass]="showMenu ? 'active' : ''">
    <div class="left-menu-inner">
      <app-main-logo></app-main-logo>
      <div><a routerLink="/" (click)="menuTrigger()">Home</a></div>
      <div><a routerLink="/map" (click)="menuTrigger()">Map</a></div>
    </div>
  </div>

  <div class="top-links">
    <div class="top-links-wrapper">
      <span><a routerLink="/">Home</a></span>
      <span><a routerLink="/map">Map</a></span>
    </div>
    <div class="burger-button" (click)="menuTrigger()">
      <img alt="Burger Menu" src="assets/images/map-Burger-Icon.svg"/>
    </div>
  </div>
</div>
